{% extends "::base.html.twig" %}
{% set constReun = "" %}
{% set id = 1 %}
{% block body %}
    <div class="container form-check cs-chkshowraceetr">
        <input class="form-check-input" type="checkbox" value="" id="chkshowraceetr">
        <label class="form-check-label" for="defaultCheck1">
            Afficher les courses étrangères
        </label>
    </div>
    <div class="container" id="reuns">
        {% if  reunions|length > 0 %}
        {% for reunion in reunions %}
            {% if constReun != reunion.reun %}
                <h3 class="text-left {% if reunion.hippo != null and reunion.hippo.pays != null and reunion.hippo.pays.pays != 'France' %}raceetr{% endif %}">
                    {% if reunion.reun matches '/^\\d+$/' %}R{{ reunion.reun }} {{ reunion.hippo }}
                    {% else %}
                        {{ reunion.reun }}
                    {% endif %}
                </h3>
                <table class="table table-bordered {% if reunion.hippo != null and reunion.hippo.pays != null and reunion.hippo.pays.pays != 'France' %}raceetr{% endif %}">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Type</th>
                    <th>Gains</th>
                    <th>Détails</th>
                </tr>
                </thead>
                <tbody>
                {% set constReun = reunion.reun %}
            {% endif %}
            <tr>
                <th>{{ id }}</th>
                <th>{{ reunion.prixnom }} {% if reunion.quinte == 1 %}<span style="color: #d58512">Q+</span>{% endif %}
                </th>
                <th>{{ reunion.prix }}</th>
                <th>{{ reunion.typec }}</th>
                <th>{{ reunion.cheque }}</th>
                <th class="text-center"><a href="{{ path('CourseIndex',{'reunion':reunion.id}) }}" class="text-info"><i
                                class="fas fa-info-circle"></i></a></th>
            </tr>
            {% set id = id +1 %}
            {% if loop.index == reunions|length %}
                </tbody>
                </table>
            {% elseif loop.index + 1 < reunions|length and reunion.reun != reunions[loop.index].reun %}
                {% set id = 1 %}
                </tbody>
                </table>
            {% endif %}
        {% endfor %}
        {% else %}
        <h3 class='text-center'>Aucune réunion à cette date<h3>
                {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.raceetr').hide();

            var $dateReunion = $('#date-reunion');
            var $chkshowraceetr = $('#chkshowraceetr');

            if(!$('table').length)
            {
                $('.cs-chkshowraceetr').hide();
            }

            $dateReunion.val("{{ currentDate }}");
            $('#date-choisi').text("{{ currentDate }}");

            $chkshowraceetr.on('change',function (){
                if( $(this).is(':checked') ){
                    $('.raceetr').show();
                } else {
                    $('.raceetr').hide();
                }
            });

            $dateReunion.on('change',function () {
                if($(this).val()){
                    $.ajax({
                        url:"{{ path('reunsAjx') }}",
                        type: 'get',
                        data: "date=" + $dateReunion.val(),
                        dataType: 'json',
                        contentType:'application/json; charset=utf-8',
                        error:function(req, err){
                            alert('erreur: ' + err);
                        },
                        success: function(json){
                            var constReun = "";
                            var id = 1;
                            var block = "";
                            var $blockReuns = $('#reuns');
                            $blockReuns.empty();
                            $('#date-choisi').text($dateReunion.val());
                            for(var key in json){
                                var reun = json[key];
                                if(reun['reun'] !== constReun){
                                    var nomReun = "";
                                    var raceetr = '';
                                    var reg = new RegExp(/^\d+$/);
                                    if(reg.test(reun['reun'])){
                                        nomReun += 'R' + reun['reun'] + ' ' + reun['hippo'];
                                    }
                                    else {
                                        nomReun = reun['reun'];
                                    }

                                    if(reun['paysHippo'] != 'France'){
                                        raceetr = ' raceetr';
                                    }
                                    block += '<h3 class="text-left' + raceetr + '">\n' +
                                        nomReun +
                                    '                </h3>\n' +
                                    '                <table class="table table-bordered' + raceetr + '">\n' +
                                    '                <thead>\n' +
                                    '                <tr>\n' +
                                    '                    <th>#</th>\n' +
                                    '                    <th>Nom</th>\n' +
                                    '                    <th>Prix</th>\n' +
                                    '                    <th>Type</th>\n' +
                                    '                    <th>Gains</th>\n' +
                                    '                    <th>Détails</th>\n' +
                                    '                </tr>\n' +
                                    '                </thead>\n' +
                                    '                <tbody>';
                                    constReun = reun['reun'];
                                }
                                var reunnom = reun['prixnom'];
                                if(reun['quinte'] == '1'){
                                    reunnom += ' ' + '<span style="color: #d58512">Q+</span>';
                                }
                                block += '<tr>\n' +
                                    '                <th>' + id + '</th>\n' +
                                    '                <th>' + reunnom + '</th>\n' +
                                    '                <th>' + reun['prix'] + '</th>\n' +
                                    '                <th>' + reun['typec'] + '</th>\n' +
                                    '                <th>' + reun['cheque'] + '</th>\n' +
                                    '                <th class="text-center"><a href="./course/' + reun['id'] + '" class="text-info"><i class="fas fa-info-circle"></i></a></th>\n' +
                                    '            </tr>';
                                id += 1;
                                if(parseInt(key) + 1 === json.length || (parseInt(key) + 1 < json.length && reun['reun'] !== json[parseInt(key) + 1]['reun'])){
                                    id = 1;
                                    block += '</tbody>\n' +
                                        '                </table>';
                                }
                            }

                            if(block === ""){
                                block = "<h3 class='text-center'>Aucune réunion à cette date<h3>";
                                $('.cs-chkshowraceetr').hide();
                            }
                            else {
                                $('.cs-chkshowraceetr').show();
                            }
                            $blockReuns.append(block);
                            if( $chkshowraceetr.is(':checked') ){
                                $('.raceetr').show();
                            } else {
                                $('.raceetr').hide();
                            }
                        }
                    });
                }
            })
        });
    </script>
{% endblock %}
