{% extends "::base.html.twig" %}

{% block body %}
    <div class="container container-fluid">
        <div class="container grid-list-md">
            <div class="layout row wrap fluid" style="display: flex">
                <div class="flex sm4">
                    <h3><strong>{% if course.reun matches '/^\\d+$/' %}{{ course.hippo }}
                            {% else %}
                                {{ course.reun }}
                            {% endif %}
                            / {{ course.jour }} / {{ course.heure|date('H:i:s') }}
                        </strong>
                    </h3>
                    <h4><strong>{{ course.prixnom }} {% if course.quinte == 1 %}<span style="color: #d58512">Q+</span>{% endif %}</strong></h4>
                    <h4>
                        <strong>{% if course.reun matches '/^\\d+$/' %}R{{ course.reun }}
                            {% else %}
                                {{ course.reun }}
                            {% endif %}
                             / C{{ course.prix }}
                        </strong>
                        {% if clCourse[0].cl != "" %}
                            <span style="color: red; margin-left: 10px">
                                {% for classement in clCourse %}
                                    {% if classement.cl != "dai" and classement.cl != "NP" and loop.index <= 5 %}
                                        {% if loop.index != 1 %}-{% endif %}
                                        {{ classement.numero }}
                                    {% endif %}
                                {% endfor %}
                            </span>
                        {% endif %}
                    </h4>
                    <h4 class="flex sm4">
                        <strong>
                            {{ course.typec }} {{ course.dist }}m {{ course.cheque }}
                        </strong>
                    </h4>
                </div>
                <div class="flex sm4" style="padding-top: 20px; padding-left: 50px">
                    <p>{{ course.meteo }}{% if course.temperature != 0 %} / {{ course.temperature }}°c{% endif %}</p>
                    {% if course.nebulositelibellecourt != '' %}<p>{{ course.nebulositelibellecourt }} / Vent: {{ course.forcevent }} {{ course.directionvent }}</p>{% endif %}
                    <p>{{ course.partant }} Partants</p>
                    {% if course.age != '' %}<p>{{ course.age }} {% if course.age == 1 %}an {% else %}ans{% endif %}{% if course.sex != '' %} / {{ course.sex }}{% endif %}</p>{% endif %}
                    {% if course.amat != '' %}<p>{{ course.amat }}</p>{% endif %}
                </div>
                <div class="flex sm4" style="padding-top: 20px; padding-left: 100px">
                    {% if course.natpis != '' %}<p>{{ course.natpis }}</p>{% endif %}
                    {% if course.handi != '' %}<p>{{ course.handi }}</p>{% endif %}
                    {% if course.autos != '' %}<p>{{ course.autos }}</p>{% endif %}
                    {% if course.reclam != '' %}<p>{{ course.reclam }}</p>{% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center" style="margin-top: 100px">
        <table class="table table-bordered display" id="table-course">
            <thead>
            <tr>
                <th>Cl</th>
                <th>Numéro</th>
                <th>Cheval</th>
                <th>Récense</th>
                <th>Rapport</th>
                <th>Déférré ou oeillères</th>
                <th>Jockey</th>
                <th>Entraineur</th>
                <th>Sexe</th>
                <th>Age</th>
                <th>Corde</th>
                <th>Poids monté</th>
                <th>Ecart</th>
                <th>Distance</th>
                <th>Réduction kilométrique</th>
                <th>Temps total</th>
                <th>Taux de réclamation</th>
                <th>Musique</th>
            </tr>
            </thead>
            <tbody>
            {% for classement in clCourse %}
                <tr>
                    <td>{{ classement.cl }}</td>
                    <td>{{ classement.numero }}</td>
                    <td>{{ classement.cheval }}</td>
                    <td>{{ classement.recence }}</td>
                    <td></td>
                    <td>{% if classement.defoeilprec == '0' %}
                            {{ 'Non' }}
                        {% else %}
                            {{ 'Oui' }}
                        {% endif %}
                    </td>
                    <td>{{ classement.jockey }}</td>
                    <td>{{ classement.entraineur }}</td>
                    <td>{{ classement.sexe }}</td>
                    <td>{{ classement.age }}</td>
                    <td>{{ classement.corde }}</td>
                    <td>{{ classement.poidmont }}</td>
                    <td>{{ classement.ecar }}</td>
                    <td>{{ classement.dist }}</td>
                    <td>{{ classement.redkm }}</td>
                    <td>{{ classement.tempstot }}</td>
                    <td>{{ classement.txreclam }}</td>
                    <td>{{ classement.musiqueche }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#table-course').DataTable({
                paging: false,
                "scrollX": true,
                "scrollY": "700px",
                "scrollCollapse": true,
                dom: 'Bfrtip',
                buttons: ['copy','csv','excel','pdf','print']
            });
        });
    </script>
{% endblock %}